/**
 * Tags
 * @author Sergio Baena López
 */
*::selection 
{
    background-color: #0080ff;
    color: #fff;
}
*::-moz-selection
{
    background-color: #0080ff;
    color: #fff;
}
body
{
    font-family: "Titillium Web";
    font-size: 1.0625em; /* 17px/16px */
    color: #000;
}
h1
{
    font-family: "Varela Round";
    color: #0080ff;
    font-size: 2.5em; /* 40px/16px */
    margin: 0;
    margin-bottom: 5px;
}
input[type="text"], input[type="password"]
{
     font-family: "Titillium Web";
     font-size: 1.0625em; /* 17px/16px */
     margin-bottom: 5px;
     background: -moz-linear-gradient(#fff, #fff);
     background: -webkit-linear-gradient(#fff, #fff);
     background: -ms-linear-gradient(#fff, #fff);
     background: -o-linear-gradient(#fff, #fff);
     color: #000;
     height: 40px;
     border-radius: 3px;
     border: double #0080ff; 
}
input[type="text"]:focus, input[type="password"]:focus
{
     border-style: solid !important;
}
input[type="file"]
{
    visibility: hidden;
    position: absolute;
}
input[type="file"] + label span
{
    color: #0080ff;
    font-size: 5em; /* 80px/16px */
    vertical-align: -33%;
}
input[type="file"] + label:active span
{
    color: #c9e1fa;
}
button
{
    font-family: "Titillium Web";
    font-size: 1.0625em; /* 17px/16px */
    color: #fff;
    display: block;
    height: 80px;
    padding: 0;
    background: -moz-linear-gradient(#0080ff, #0067CE);
    background: -webkit-linear-gradient(#0080ff, #0067CE);
    background: -ms-linear-gradient(#0080ff, #0067CE);
    background: -o-linear-gradient(#0080ff, #0067CE);
    border-radius: 3px;
}
button:active
{
    background: -moz-linear-gradient(#0067CE, #0080ff);
    background: -webkit-linear-gradient(#0067CE, #0080ff);
    background: -ms-linear-gradient(#0067CE, #0080ff);
    background: -o-linear-gradient(#0067CE, #0080ff);
}
/* checkboxes */
input[type="checkbox"]
{
    display: none;
}
label:before
{
    font-family: 'FontAwesome';
    width: 0.85em;
    display: inline-block;
    color: #0080ff;
    font-size: 5em; /* 80px/16px */
    vertical-align: -33%;
}
input[type="checkbox"] + label:before
{
    content: "\f096";
}
input[type="checkbox"]:checked + label:before
{
    content: "\f046";
}
label
{
    margin-bottom: 5px;
    display: block;
    cursor: pointer;
}
/**
 * Class
 * @author Sergio Baena López
 */
a.currentOptionMenu
{
    background-color: #C9E1FA !important;
    color: #331F84 !important;    
}