/**
 * Web container
 * @author Sergio Baena López
 * @width 230px
 */
#webContainer
{
    width: 100%; /* 230px */
}
/**
 * Logo
 * @author Sergio Baena López
 * @parent-width 230px
 * @width 220px
 * @margin-left 5px
 * @margin-right 5px
 * @margin-top 0
 * @margin-buttom 20px
 */
#logo
{
    font-size: 1.125em; /* 18px/16px */
    font-family: "Lily Script One";
    margin-left: 2.173913043%; /* 5px/230px */
    margin-right: 2.173913043%; /* 5px/230px */
}
#logo img
{
    width: 59px;
    height: 38px;
    vertical-align: -40%;
}
#logo a
{
    text-decoration: none;
    color: #0080ff;
    display: block;
}
/**
 * Img
 * The image of the web
 * @author Sergio Baena López
 */
#img
{
    display: none;
}
/**
 * Body
 * The body of the web
 * @author Sergio Baena López
 * @parent-width 230px
 * @width 220px
 * @margin-left 5px
 * @margin-right 5px
 * @margin-top 20px
 * @margin-buttom 20px
 */
#body
{
    margin-top: 20px;
    margin-left: 2.173913043%; /* 5px/230px */
    margin-right: 2.173913043%; /* 5px/230px */
}
/**
 * Form
 * The form of the login
 * @author Sergio Baena López
 * @parent-width 220px
 * @width 220px
 */
#form input[type="text"], #form input[type="password"]
{
    width: 95.454545455%; /* 210px/220px */
    border-width: 2.272727273%; /* 5px/220px */
    border: double #0080ff; 
}
#form button
{
    width: 100%; /* 220px/220px */
    border-width: 0.454545455%; /* 1px/220px */
    border: solid #331F84;
}
/**
 * Vertical menu
 * The menu of the web
 * @author Sergio Baena López
 * @parent-width 230px
 * @width 220px
 */
#menu
{
    margin-left: 2.173913043%; /* 5px/230px */
    margin-right: 2.173913043%; /* 5px/230px */
    margin-top: 20px;
}
#menu ul
{
    margin: 0;
    padding: 0;
}
#menu li
{
    list-style: none;
}
#menu a
{
    display: block;
    text-decoration: none;
    background-color: #0080ff;
    color: #fff;
    padding-left: 2.173913043%; /* 5px/230px */
    padding-right: 2.173913043%; /* 5px/230px */
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3px; 
    margin-bottom: 5px;
}
#menu a:active
{
    background-color: #C9E1FA;
    color: #331F84;    
}
#menu li:last-child a
{
    margin-bottom: 0;
}
/**
 * Footer
 * The footer of the web
 * @author Sergio Baena López
 * @parent-width 230px
 * @width 220px
 * @margin-left 5px
 * @margin-right 5px
 * @margin-top 20px
 */
#footer
{
    margin-top: 20px;
    margin-left: 2.173913043%; /* 5px/230px */
    margin-right: 2.173913043%;  /* 5px/230px */
    font-family: Lobster;
    font-size: 1.0625em; /* 17px/16px */
}
#footer p
{
    margin: 0;
}
