/**
 * Tags
 * @author Sergio Baena López
 */
/* Web's selection */
*::selection
{
    background-color: #0080ff;
    color: #fff;
}
*::-moz-selection
{
    background-color: #0080ff;
    color: #fff;
}
/* body tag */
body
{
    font-family: "Titillium Web";
    font-size: 1.0625em; /* 17px/16px */
    color: #000;
}
/* h1 tag */
h1
{
    font-family: "Varela Round";
    color: #0080ff;
    font-size: 2.5em; /* 40px/16px */
    margin: 0;
    margin-bottom: 5px;
}
/* h2 tag */
h2 {
    font-family: "Playfair Display";
    font-weight: normal;
    font-size:  1.75em; /* 28px/16px */
    margin: 0;
}
/* p tag */
p:first-child {
    margin-top: 0;
}
p:last-child {
    margin-bottom: 0;
}
/* Textbox, password's box, textarea, chosen's container and chosen's textbox */
input[type="text"]              ,
input[type="password"]          , 
textarea, .chosen-container     , 
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
     font-family: "Titillium Web";
     font-size: 1.0625em; /* 17px/16px */
     margin-bottom: 5px;
     background: -moz-linear-gradient(#fff, #fff);
     background: -webkit-linear-gradient(#fff, #fff);
     background: -ms-linear-gradient(#fff, #fff);
     background: -o-linear-gradient(#fff, #fff);
     color: #000;
     height: 40px;
     border-radius: 3px;
     border: double #0080ff;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin-bottom: 0;
    height: auto;
    color: #757575;
    margin-top: 0;
}
.chosen-container .chosen-results li.highlighted {
    background: -moz-linear-gradient(#0080ff, #0080ff);
    background: -webkit-linear-gradient(#0080ff, #0080ff);
    background: -ms-linear-gradient(#0080ff, #0080ff);
    background: -o-linear-gradient(#0080ff, #0080ff);
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .chosen-container-active
{
     border-style: solid !important;
}
/* select */
select + div + a {
    font-style: normal;
}
select + div + a:before {
    content: "\f03a";
    width: 1.05em; /* We've to put the width in this file */
}
select + div + a:active:before {
    color: #c9e1fa;
}
/* input type file */
input[type="file"]
{
    visibility: hidden;
    position: absolute;
    width: 1px; /* is fixed */
}
input[type="file"] + label span
{
    color: #0080ff;
    font-size: 5em; /* 80px/16px */
    vertical-align: -33%;
}
input[type="file"] + label:active span
{
    color: #c9e1fa;
}
input[type="file"] + label img {
    width: 80px; /* is fixed */
    border-radius: 3px;
    vertical-align: middle;
}
input[type="file"] + label:active img {
   opacity: 0.5;
}
/* textarea tag */
textarea {
    height: 240px;
}
/* button */
button
{
    font-family: "Titillium Web";
    font-size: 1.0625em; /* 17px/16px */
    color: #fff;
    display: block;
    height: 80px;
    padding: 0;
    background: -moz-linear-gradient(#0080ff, #0067CE);
    background: -webkit-linear-gradient(#0080ff, #0067CE);
    background: -ms-linear-gradient(#0080ff, #0067CE);
    background: -o-linear-gradient(#0080ff, #0067CE);
    border-radius: 3px;
}
button:active
{
    background: -moz-linear-gradient(#0067CE, #0080ff);
    background: -webkit-linear-gradient(#0067CE, #0080ff);
    background: -ms-linear-gradient(#0067CE, #0080ff);
    background: -o-linear-gradient(#0067CE, #0080ff);
}
button.shortFormat {
    display: none;
}
/* checkboxes */
input[type="checkbox"]
{
    display: none;
}
input[type="checkbox"] + label {
    overflow: hidden;
    height: 5em;
}
label:before, a:before
{
    font-family: 'FontAwesome';
    width: 0.85em;
    display: inline-block;
    color: #0080ff;
    font-size: 5em; /* 80px/16px */
    vertical-align: -33%;
}
input[type="checkbox"] + label:before
{
    content: "\f096";
}
input[type="checkbox"]:checked + label:before
{
    content: "\f046";
}
label, select + a
{
    margin-bottom: 5px;
    display: block;
    cursor: pointer;
}
/* day class */
.day ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}
.day li h3 {
    margin: 0;
    display: inline;
}
.day li h3:after {
    content: ": ";
}
/* a */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-style: italic; 
}
a:active {
    font-style: normal;
    background-color: #fff;
}
a.clickableImg {
    display: block;
    margin-bottom: 5px;
    background-color: #fff;
    color: #0080ff;
    font-size: 2.5em;    /* 40px/16px */
    border-radius: 3px;
    padding-bottom: 5px;
    text-align: center;
    border: double #0080ff;
}
a.clickableImg:active {
    border-style: solid;
}
/**
 * Class
 * @author Sergio Baena López
 */
/* currentOptionMenu class */
a.currentOptionMenu
{
    background-color: #C9E1FA !important;
    color: #331F84 !important;    
}
/*fastReading class */
.fastReading {
    font-weight: bold;
}
/* .specialSense */
.specialSense {
    font-style: italic;
}
/* .timeRemaining and .extraData */
.timeRemaining, .extraData {
    display: block;
    color: #A1A7AE;
    
}
.timeRemaining {
    font-size: 0.3125em;  /* 5px/16px */
}
.extraData {
    font-size: 0.5625em; /* 9px/16px */
}
/*.day */
.day {
    margin-bottom: 5px; 
}
.moreInfoTask {
    color: #E0F0F5;
}
.longFormatOfDate {
    display: none;
}
/* .comment */
.comment {
    margin-bottom: 5px;
}
.comment h2.user {
    margin: 0;
    display: inline;
    font-size: 1.17em;
    font-family: "Titillium Web";
    font-weight: bold;
}
.comment h2.user:after {
    content: ":";
}
/* chosen's classes */
.chosen-container {
    display: none;
}
.chosen-container-multi .chosen-choices {
    border: none;
    padding: 0;
}
.chosen-container .chosen-results {
    color: #000;
}
/* calendar's classes */
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #0080ff !important;
    border-radius: 3px !important;
}
.picker__year {
    font-style: normal !important;
}
.picker__box                    , 
.picker__day--infocus:hover     ,
.picker__day--outfocus:hover    ,
.picker__day--outfocus:hover    ,
.picker__nav--prev              ,
.picker__nav--next              ,
.picker__day--highlighted {
    border-radius: 3px !important;
}
/* .task */
.task {
    display: inline;
}
.task a {
    display: inline;
}
.task h2 {
    margin: 0;
    display: inline;
    font-size: 1.17em;
    font-family: "Titillium Web";
    font-weight: bold;
}
.task h2:after {
    content: ":";
}
.task .textFormat {
    display: none;
}
/* .taskList */
.taskList .task {
    display: block;
    margin-bottom: 5px;
}
/* .userList and .groupBList */
.userList, .groupBList {
    margin-bottom: 5px;
}
/* .user and .groupB */
.user img, .groupB img {
    vertical-align: middle;
    width: 60px; /* is fixed */
    border-radius: 3px;
}