@media (min-width: 768px)
{
   /**
    * Form
    * The form
    * @author Sergio Baena López
    */
   #form
   {
       width: 49.4140625%; /* 506px/1024px */
       float: left;
       margin-right: 0.5859375%; /* 6px/1024px */
   }
   #form input[type="text"], #form input[type="password"]
   {
        width: 98.418972332%; /* 498px/506px */
   }
   #form button
   {
       border-width: 1px; /* Is fixed */ 
   }
   label:before
   {
       margin-right: 0.988142292%; /* 5px/506px */ 
   }
}