@media (min-width: 768px)
{
   /**
    * Form
    * The form
    * @author Sergio Baena López
    */
   #form
   {
       width: 49.4140625%; /* 506px/1024px */
       float: left;
       margin-right: 0.5859375%; /* 6px/1024px */
   }
   #text + #form, #text + #img + #form {
       clear: left;
   }
   #form input[type="text"]         ,
   #form input[type="password"]     ,
   #form textarea                   ,
   #form .chosen-container          ,
   #form a.clickableImg {
        width: 98.418972332% !important; /* 498px/506px */
   }
   #form .chosen-container {
        width: 98.616600791% !important; /* 499px/506px */
   }
   #form .chosen-container-single .chosen-search input[type="text"] {
       width: 100% !important; 
   }
   #form textarea {
       -bracket-:hack (;  /* Hack of Chrome */
            width: 97.826086957%;  /* 495px/506px */ 
        );
   }
   @media screen and (-webkit-min-device-pixel-ratio:0) /* Hack of Chrome */ {
        #form textarea {
             width: 97.826086957%;  /* 495px/506px */
        }
   }
   #form .photo {
        width: 280px; /* 220px/220px */
   }
   #form .listControls > a {
        width: 140px; /* is fixed */
   }
   #form .pagesOfTheList > a {
        width: 70px; /* is fixed */
   }
   #form #alert {
       padding: 0.48828125%;  /* 5px/1024px */
       /*width: 96%;*/  /* 1014px/1024px */
       width: 500px; /* it's fixed */
       /*max-width: 1014px;*/
   }
   #form #alert.scrolling {
       top: -105px !important;
   }
   #form button
   {
       border-width: 1px; /* Is fixed */ 
   }
   #form #buttonPanel * {
        float: left;
        margin-right: 5px; /* is fixed */ 
   }
   #form button.shortFormat {
        width: 38px; /* the width of button is fixed for computer */
   }
   label:before
   {
       margin-right: 0.988142292%; /* 5px/506px */ 
   }
}