@media (min-width: 768px)
{
   /**
    * Web container
    * @author Sergio Baena López
    * @width 1024px
    */
   #webContainer
   {
       position: relative;
       width: 100%; /* 1024px */
       margin-left: auto;
       margin-right: auto;
       max-width: 1024px;
   }
   /**
    * Logo
    * @author Sergio Baena López
    */
   #logo
   {
       margin-left: 0.48828125%; /* 5px/1024px */
       margin-right: 0.48828125%; /* 5px/1024px */ 
   }
    /**
     * Horizontal menu
     * The menu of the web
     * @author Sergio Baena López
     * @width 1024px
     */
    #menu
    {
        position: absolute;
        top: -61px; 
        margin-left: 0.48828125%; /* 5px/1024px */ 
        margin-right: 0.48828125%; /* 5px/1024px */
        width: 99.0234375%; /* 1014px/1024px */
    }
    #menu ul
    {
        width: 100%; /* 1014px/1014px */
    }
    #menu li
    {
        float: left;
        width: 25%; /* 253px/1024px */
        background-color: #0080ff;
        height: 37px;
    }
    #menu a
    {
        width: 96.04743083%; /* 243px/253px */
        border-radius: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1.976284585%; /* 5px/253px */
        padding-right: 1.976284585%; /* 5px/253px */
        background: none;
    }
    #menu li:hover
    {
        background-color: #c9e1fa;
    }
    #menu a:hover
    {
        color: #331f84;
    }
    #menu a:active
    {
        color: #0080ff !important;
    }
    #menu li:first-child
    {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    #menu li:last-child
    {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
   /**
    * No logo
    * @description The rest of the web (which is no logo)
    * @author Sergio Baena López
    * @width 1024px
    */
    #noLogo
    {
        position: absolute;
        width: 100%; /* 1024px/1024px */
        top: 105px; /* logo 38px + margin 20px + font-size 17px + padding 10px + 20px margin*/
    }
   /**
    * Body
    * The body of the web
    * @author Sergio Baena López
    */
   #body
   {
       margin-left: 0.48828125%; /* 5px/1024px */
       margin-right: 0.48828125%; /* 5px/1024px */
   }
   /**
    * Img
    * The image of the web
    * @author Sergio Baena López
    */
   #img
   {
       display: block;
       float: left;
       color: #0080ff;
       width: 49.4140625%; /* 506px/1024px */
       text-align: center;
/*       background-color: yellow;
       width: 300px;*/
   }
   /**
    * Footer
    * The footer of the web
    * @author Sergio Baena López
    */
   #footer
   {
       clear: both;
       margin-left: 0.48828125%; /* 5px/1024px */
       margin-right: 0.48828125%; /* 5px/1024px */
   }
}