/**
 * Form
 * The form of the web
 * @author Sergio Baena López
 * @parent-width 220px
 * @width 220px
 */
#form input[type="text"], #form input[type="password"]
{
    width: 95.454545455%; /* 210px/220px */
    border-width: 2.272727273%; /* 5px/220px */
    padding-left: 5px; 
}
#form input[type="file"] + #form label span {
    margin-right: 0.909090909%; /* 2px/220px */
}
#form textarea {
    width: 95.454545455%; /* 210px/220px */
    border-width: 2.272727273%; /* 5px/220px */
    padding-left: 5px; 
}
#form button
{
    width: 100%; /* 220px/220px */
    /*border-width: 0.454545455%;  1px/220px */
    border: 1px solid #331F84;
}