/**
 * Form
 * The form of the web
 * @author Sergio Baena López
 * @parent-width 220px
 * @width 220px
 */
#form input[type="text"]        ,
#form input[type="password"]    ,
#form textarea                  ,
#form .chosen-container         ,
#form a.clickableImg {
    width: 95.454545455%; /* 210px/220px */
    border-width: 3px; /* is fixed */
    padding-left: 5px; 
}
#form .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    padding-left: 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) /* Hack of Chrome */ {
    #form textarea {
        width: 95%; /* 209px/220px */
    }
}
#form input[type="file"] + #form label span { 
    margin-right: 0.909090909%; /* 2px/220px */
}
#form .photo {
    width: 100%; /* 220px/220px */
}
#form .listControls > a {
    width: 50%; /* 110px/220px */
}
#form .listControls > a:last-child {
    text-align: right;
}
#form .pagesOfTheList > a {
    width: 25%; /* 55px/220px */
}
#form a.clickableImg + a.clickableImg {
     margin-right: 0;
}
#form #alert {
    display: none;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    width: 88.695652174%; /* 204px/230px */ 
    border: double #0080ff;
    border-width: 3px; 
    border-radius: 3px; /* it is fixed */
    padding: 2.173913043%; /* 5px/230px */
}
#form #alert #msgButton {
    margin-top: 20px;
}
#form #alert.alerting {
    display: block;
}
#form #alert.scrolling {
    position: absolute;
    top: 0 !important;
}
#form .invalidField { 
    background-image: url("../../../img/err_form/error.png") !important;
    background-position: right center;
    background-repeat: no-repeat;
}
#form button
{
    width: 100%; /* 220px/220px */
    /*border-width: 0.454545455%;  1px/220px */
    border: 1px solid #331F84;
}
#form #buttonPanel {
    clear: both;
}
#form #buttonPanel button {
    margin-bottom: 5px;
    clear: none;
}
#form #buttonPanel button:first-child {
    clear: both;
}
