/**
 * Web container
 * @author Sergio Baena López
 * @width 230px
 */
#webContainer
{
    width: 100%; /* 230px */
    min-width: 230px;
}
/**
 * Logo
 * @author Sergio Baena López
 * @parent-width 230px
 * @width 220px
 * @margin-left 5px
 * @margin-right 5px
 * @margin-top 0
 * @margin-buttom 20px
 */
#logo
{
    font-size: 1.125em; /* 18px/16px */
    font-family: "Lily Script One";
    margin-left: 2.173913043%; /* 5px/230px */
    margin-right: 2.173913043%; /* 5px/230px */
}
#logo img
{
    width: 59px;
    height: 38px;
    vertical-align: -40%;
}
#logo a {
    color: #0080ff;
    font-style: normal;
}
/**
 * menuLooper
 * The menu's looper
 * @author Sergio Baena López
 */
#menuLooper {
    margin-top: 20px;
    margin-left: 2.173913043%; /* 5px/230px */
    margin-right: 2.173913043%; /* 5px/230px */
}
/**
 * buttonPanelLooper
 * The button panel's looper
 * @author Sergio Baena López
 */
#bottonPanelLooper {
    margin-top: 20px;
    margin-left: 2.173913043%; /* 5px/230px */
    margin-right: 2.173913043%; /* 5px/230px */
}
/**
 * Img
 * The image of the web
 * @author Sergio Baena López
 */
#img
{
    display: none;
}
/**
 * Body
 * The body of the web
 * @author Sergio Baena López
 * @parent-width 230px
 * @width 220px
 * @margin-left 5px
 * @margin-right 5px
 * @margin-top 20px
 * @margin-buttom 20px
 */
#body
{
    margin-top: 20px;
    margin-left: 2.173913043%; /* 5px/230px */
    margin-right: 2.173913043%; /* 5px/230px */
}
/**
 * Vertical menu
 * The menu of the web
 * @author Sergio Baena López
 * @parent-width 230px
 * @width 220px
 */
#menu
{
    margin-left: 2.173913043%; /* 5px/230px */
    margin-right: 2.173913043%; /* 5px/230px */
    margin-top: 20px;
}
#menu ul
{
    margin: 0;
    padding: 0;
}
#menu li
{
    list-style: none;
}
#menu a
{
    display: block;
    text-decoration: none;
    background-color: #0080ff;
    color: #fff;
    padding-left: 2.173913043%; /* 5px/230px */
    padding-right: 2.173913043%; /* 5px/230px */
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3px; 
    margin-bottom: 5px;
    font-style: normal;
}
#menu a:active
{
    background-color: #C9E1FA;
    color: #331F84;    
}
#menu li:last-child a
{
    margin-bottom: 0;
}
/**
 * Footer
 * The footer of the web
 * @author Sergio Baena López
 * @parent-width 230px
 * @width 220px
 * @margin-left 5px
 * @margin-right 5px
 * @margin-top 20px
 */
#footer
{
    margin-top: 20px;
    margin-left: 2.173913043%; /* 5px/230px */
    margin-right: 2.173913043%;  /* 5px/230px */
    font-family: Lobster;
    font-size: 1.0625em; /* 17px/16px */
}
#footer p
{
    margin: 0;
}
/**
 * Load's animation 
 * Load's animation for Ajax's called
 * @author Sergio Baena Lopez
 * @width 60px
 */
#loadAnimation {
    display: none;
    height:60px;
    width:60px;
    margin:0px auto;
    position: fixed;
    top: 0;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
#loadAnimation.loading {
    display: block;
}
#logo.loading                   ,
#menuLooper.loading             ,
#title.loading                  ,
#alert.loading                   ,
#text.loading                   ,
#menu.loading                   ,
#footer.loading                 ,
#img.loading                    ,
#logo.alerting                  ,
#menuLooper.alerting            ,       
#title.alerting                 ,
#text.alerting                  ,
#menu.alerting                  ,
#footer.alerting                ,
#img.alerting {
    opacity: 0.2;
}
/**
 * Hidden data
 * @author Sergio Baena Lopez
 */
#hiddenData {
    display: none;
}
