@media (min-width: 768px) {
   /**
    * Form
    * The form of the login
    * @author Sergio Baena López
    */
    #form
    {
        /*height: 191px;*/
         margin-bottom: 20px;
    }
    #form button {
        width: 65px; /*the width of button is fixed for computer */
    }
   /**
    * Img
    * The image of the web
    * @author Sergio Baena López
    */
    #img {
        height: 193px;
        font-size: 182px; /* is fixed */
    }
}