@media (min-width: 768px)
{
    /* Tags */
    input[type="text"], input[type="password"] 
    {
        height: 27px;
    }
    .chosen-container-multi .chosen-choices, .chosen-container {
        height: auto;
    }
    /* checkboxes */
    label:before
    {
        font-size: 1.0625em; /* 17px/16px */
        vertical-align: baseline;
    }
    button
    {
        height: 35px;
    }
    button.longFormat {
        display: none;
    }
    button.shortFormat {
        display: block;
    }
    select + div + a {
        display: none;
    }
    /* Classes */
    a.currentOptionMenu
    {
        background: none !important;
    }
    li.currentOptionMenu
    {
        background-color: #C9E1FA !important;
    }
    .shortFormatOfDate {
        display: none;
    }
    .longFormatOfDate {
        display: block;
    }
    .chosen-container {
        display: block;
    }
}
