@media (min-width: 768px)
{
    input[type="text"], input[type="password"]
    {
        height: 27px;
    }
    /* checkboxes */
    label:before
    {
        font-size: 17px;
        vertical-align: baseline;
        margin-right: 5px;
    }
    button
    {
        height: 35px;
    }
}