@media (min-width: 768px)
{
    input[type="text"], input[type="password"]
    {
        height: 27px;
    }
    /* checkboxes */
    label:before
    {
        font-size: 1.0625em; /* 17px/16px */
        vertical-align: baseline;
    }
    button
    {
        height: 35px;
    }
    a.currentOptionMenu
    {
        background: none !important;
    }
    li.currentOptionMenu
    {
        background-color: #C9E1FA !important;
    }
}