@media (min-width: 768px) {
   /**
    * Form
    * The form of the login
    * @author Sergio Baena López
    */
    #form {
        /*height: 400px;*/
    }
    #form button {
        width: 132px; /* the width of button is fixed for computer */
    }
   /**
    * Img
    * The image of the web
    * @author Sergio Baena López
    */
    #img {
        height: 400px;
        font-size: 410px; /* is fixed */
    }
}