@media (min-width: 768px) {
   /**
    * Form
    * The form of the agenda
    * @author Sergio Baena López
    * @parent-width 1014px
    * @width 1014px
    */
    #form
    {
        /*height: 191px;*/
        width: 100%; /* 1014px/1014px */
        margin-right: 0;
    }
    #form button {
        width: 98px; /* the width of button is fixed for computer */
    }
    #form .pagesOfTheList > a {
        width: 25%;   /* 253px/1014px */ 
    }
    #form .listControls > a {
        width: 50%; /* 507px/1014px */
    }
}